<ul class="nav nav-tabs" id="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="scan-from-file-tab" data-bs-toggle="tab" data-bs-target="#scan-from-file" type="button" role="tab" aria-controls="scan-from-file" aria-selected="true">Scan from Image File</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="scan-from-base64-tab" data-bs-toggle="tab" data-bs-target="#scan-from-base64" type="button" role="tab" aria-controls="scan-from-base64" aria-selected="false">Scan from Base64</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="scan-from-camera-tab" data-bs-toggle="tab" data-bs-target="#scan-from-camera" type="button" role="tab" aria-controls="scan-from-camera" aria-selected="false">Scan from Camera</button>
    </li>
</ul>
